In [18]:
import pandas as pd
import pathlib
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor, ExtraTreesRegressor
from sklearn.model_selection import train_test_split

nba_dataset = pd.DataFrame()

for season in np.arange(1980,2021,1):
        
    df = pd.read_csv(f'./data/{season}std.csv', low_memory=False)
    df['Season'] = season
    
    nba_dataset = nba_dataset.append(df)

display(nba_dataset)

,Player,Pos,Age,G,MP,FG,FGA,FG%,3P,3PA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Status,Season
0,Kareem Abdul-Jabbar,C,32,82,3143,835,1383,0.604,0,1,...,696,886,371,81,280,297,216,2034,MVP,1980
1,Tom Abernethy,PF,25,67,1222,153,318,0.481,0,1,...,129,191,87,35,12,39,118,362,OOR,1980
2,Alvan Adams,C,25,75,2168,465,875,0.531,0,2,...,451,609,322,108,55,218,237,1118,OOR,1980
3,Tiny Archibald,PG,31,80,2864,383,794,0.482,4,18,...,138,197,671,106,10,242,218,1131,Candidate,1980
4,Dennis Awtrey,C,31,26,560,27,60,0.450,0,0,...,86,115,40,12,15,27,66,86,OOR,1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
524,Trae Young,PG,21,60,2120,546,1249,0.437,205,568,...,223,255,560,65,8,289,104,1778,OOR,2020
525,Cody Zeller,C,27,58,1341,251,479,0.524,18,75,...,251,411,88,40,25,75,140,642,OOR,2020
526,Tyler Zeller,C,30,2,4,1,4,0.250,0,0,...,1,4,0,0,0,0,0,2,OOR,2020
527,Ante Žižić,C,23,22,221,41,72,0.569,0,0,...,48,66,6,7,5,10,27,96,OOR,2020
528,Ivica Zubac,C,22,72,1326,236,385,0.613,0,2,...,346,543,82,16,66,61,168,596,OOR,2020