In [1]:
import pandas as pd

In [2]:
team_dict = {
    'Atlanta Hawks' : 'ATL',
    'Boston Celtics' : 'BOS',
    'Brooklyn Nets' : 'BRK',
    'Charlotte Hornets' : 'CHO', # 2015 - now
    'Chicago Bulls' : 'CHI',
    'Cleveland Cavaliers' : 'CLE',
    'Dallas Mavericks' : 'DAL',
    'Denver Nuggets' : 'DEN',
    'Detroit Pistons' : 'DET',
    'Golden State Warriors' : 'GSW',
    'Houston Rockets' : 'HOU',
    'Indiana Pacers' : 'IND',
    'Los Angeles Clippers' : 'LAC',
    'Los Angeles Lakers' : 'LAL',
    'Memphis Grizzlies' : 'MEM',
    'Miami Heat' : 'MIA',
    'Milwaukee Bucks' : 'MIL',
    'Minnesota Timberwolves' : 'MIN',
    'New Orleans Pelicans' : 'NOP',
    'New York Knicks' : 'NYK',
    'Oklahoma City Thunder' : 'OKC',
    'Orlando Magic' : 'ORL',
    'Philadelphia 76ers' : 'PHI',
    'Phoenix Suns' : 'PHO',
    'Portland Trail Blazers' : 'POR',
    'Sacramento Kings' : 'SAC',
    'San Antonio Spurs' : 'SAS',
    'Toronto Raptors' : 'TOR',
    'Utah Jazz' : 'UTA',
    'Washington Wizards' : 'WAS',
    'Seattle SuperSonics' : 'SEA',
    'San Diego Clippers' : 'SDC',
    'Kansas City Kings' : 'KCK',
    'Washington Bullets' : 'WSB',
    'New Jersey Nets' : 'NJN',
    'Charlotte Hornets CLASSIC' : 'CHH', # 1989 - 2002 
    'Vancouver Grizzlies' : 'VAN',
    'New Orleans Hornets' : 'NOH', # 2003 - 2005 / 2008 - 2014
    'Charlotte Bobcats' : 'CHA',
    'New Orleans/Oklahoma City Hornets' : 'NOK', # 2006 - 2007
    
}

In [3]:
players = ['Lebron James','James Harden','James Harden','James Harden','Christian Wood','Blake Griffin','Blake Griffin','Blake Griffin']
teams = ['LAL','TOT','BRK','HOU','HOU','TOT','DET','BRK']
games = [40,40,25,15,28,35,33,2]


data_dict = {'Player' : players, 'Tm' : teams, 'G' : games}
data_dict['Season'] = 2021

df = pd.DataFrame(data_dict)
df

           Player   Tm   G  Season
0    Lebron James  LAL  40    2021
1    James Harden  TOT  40    2021
2    James Harden  BRK  25    2021
3    James Harden  HOU  15    2021
4  Christian Wood  HOU  28    2021
5   Blake Griffin  TOT  35    2021
6   Blake Griffin  DET  33    2021
7   Blake Griffin  BRK   2    2021

In [4]:
test = dict()

test = {'James Harden' : [['BRK', 25],['HOU', 15]]}
# print(test['James Harden'])

transfered_players = []
row_to_drop = []

for i in df.index:
    if df.at[i,'Tm'] == 'TOT':
        transfered_players.append(df.at[i,'Player'])
        row_to_drop.append(i)
        
df_aux = df.drop(row_to_drop)

df_aux

           Player   Tm   G  Season
0    Lebron James  LAL  40    2021
2    James Harden  BRK  25    2021
3    James Harden  HOU  15    2021
4  Christian Wood  HOU  28    2021
6   Blake Griffin  DET  33    2021
7   Blake Griffin  BRK   2    2021

In [5]:
transfered_players_dict = {}

for i in df_aux.index:
    if df_aux.at[i,'Player'] in transfered_players:
        pl = df_aux.at[i,'Player']
        if pl in transfered_players_dict.keys():
            transfered_players_dict[pl].extend([df_aux.at[i,'Tm'],int(df_aux.at[i,'G'])])
        else:
            transfered_players_dict[pl] = [df_aux.at[i,'Tm'],int(df_aux.at[i,'G'])]

print(transfered_players_dict)

{'James Harden': ['BRK', 25, 'HOU', 15], 'Blake Griffin': ['DET', 33, 'BRK', 2]}

In [6]:
for player in transfered_players_dict.keys():
    max_played = 0
    for i in transfered_players_dict[player]:
        if isinstance(i,int):
            if i > max_played:
                transfered_players_dict[player] = team
                max_played = i
        else:
            team = i
            
print(transfered_players_dict)

{'James Harden': 'BRK', 'Blake Griffin': 'DET'}

In [7]:
rows_to_drop = []

for i in df.index:
    if df.at[i,'Player'] in transfered_players:
        if df.at[i,'Tm'] == 'TOT':
            df.at[i,'Tm'] = transfered_players_dict[df.at[i,'Player']]
        else:
            rows_to_drop.append(i)

display(df.drop(rows_to_drop))

           Player   Tm   G  Season
0    Lebron James  LAL  40    2021
1    James Harden  BRK  40    2021
4  Christian Wood  HOU  28    2021
5   Blake Griffin  DET  35    2021