In [1]:
import pandas as pd
import numpy as np

In [2]:
def teams_std(df, season):
    
    team_dict = {
    'Atlanta Hawks' : 'ATL',
    'Boston Celtics' : 'BOS',
    'Brooklyn Nets' : 'BRK',
    'Charlotte Hornets' : 'CHO', # 2015 - now
    'Chicago Bulls' : 'CHI',
    'Cleveland Cavaliers' : 'CLE',
    'Dallas Mavericks' : 'DAL',
    'Denver Nuggets' : 'DEN',
    'Detroit Pistons' : 'DET',
    'Golden State Warriors' : 'GSW',
    'Houston Rockets' : 'HOU',
    'Indiana Pacers' : 'IND',
    'Los Angeles Clippers' : 'LAC',
    'Los Angeles Lakers' : 'LAL',
    'Memphis Grizzlies' : 'MEM',
    'Miami Heat' : 'MIA',
    'Milwaukee Bucks' : 'MIL',
    'Minnesota Timberwolves' : 'MIN',
    'New Orleans Pelicans' : 'NOP',
    'New York Knicks' : 'NYK',
    'Oklahoma City Thunder' : 'OKC',
    'Orlando Magic' : 'ORL',
    'Philadelphia 76ers' : 'PHI',
    'Phoenix Suns' : 'PHO',
    'Portland Trail Blazers' : 'POR',
    'Sacramento Kings' : 'SAC',
    'San Antonio Spurs' : 'SAS',
    'Toronto Raptors' : 'TOR',
    'Utah Jazz' : 'UTA',
    'Washington Wizards' : 'WAS',
    'Seattle SuperSonics' : 'SEA',
    'San Diego Clippers' : 'SDC',
    'Kansas City Kings' : 'KCK',
    'Washington Bullets' : 'WSB',
    'New Jersey Nets' : 'NJN',
    'Charlotte Hornets CLASSIC' : 'CHH', # 1989 - 2002 
    'Vancouver Grizzlies' : 'VAN',
    'New Orleans Hornets' : 'NOH', # 2003 - 2005 / 2008 - 2014
    'Charlotte Bobcats' : 'CHA',
    'New Orleans/Oklahoma City Hornets' : 'NOK', # 2006 - 2007
    }

    chh_issue = np.arange(1989,2003,1)
    tm_list = []
    rows_to_drop = []

    for i in df.index:
        if df.at[i,'Team'] == 'Charlotte Hornets' and season in chh_issue:
            tm_list.append('CHH')
        elif df.at[i,'Team'] in team_dict.keys():
            tm_list.append(team_dict[df.at[i,'Team']])
        else:
            rows_to_drop.append(i)

    df = df.drop(rows_to_drop)        
    df['Tm'] = tm_list
    df = df[['Tm','W']]
    df.sort_values(r'W',ascending=False)

In [3]:
season_range = np.arange(1981,2021,1)

for season in season_range:
    df = pd.read_csv(f"./basketball_reference_dbs/teams/{season}_teams.csv")
    teams_std(df,season)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21 entries, 0 to 22
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      21 non-null     object
 1   W       21 non-null     int64
dtypes: int64(1), object(1)
memory usage: 504.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21 entries, 0 to 22
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      21 non-null     object
 1   W       21 non-null     int64
dtypes: int64(1), object(1)
memory usage: 504.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21 entries, 0 to 22
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      21 non-null     object
 1   W       21 non-null     int64
dtypes: int64(1), object(1)
memory usage: 504.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21 entries, 0 to 22
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      21 non-null     object
 1   W       21 non-null     int64
dtypes: int64(1), object(1)
memory usage: 504.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21 entries, 0 to 22
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      21 non-null     object
 1   W       21 non-null     int64
dtypes: int64(1), object(1)
memory usage: 504.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21 entries, 0 to 22
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      21 non-null     object
 1   W       21 non-null     int64
dtypes: int64(1), object(1)
memory usage: 504.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21 entries, 0 to 22
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      21 non-null     object
 1   W       21 non-null     int64
dtypes: int64(1), object(1)
memory usage: 504.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21 entries, 0 to 22
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      21 non-null     object
 1   W       21 non-null     int64
dtypes: int64(1), object(1)
memory usage: 504.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 0 to 24
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      23 non-null     object
 1   W       23 non-null     int64
dtypes: int64(1), object(1)
memory usage: 552.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 0 to 26
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      25 non-null     object
 1   W       25 non-null     int64
dtypes: int64(1), object(1)
memory usage: 600.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 0 to 26
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      25 non-null     object
 1   W       25 non-null     int64
dtypes: int64(1), object(1)
memory usage: 600.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 0 to 26
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      25 non-null     object
 1   W       25 non-null     int64
dtypes: int64(1), object(1)
memory usage: 600.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 0 to 26
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      25 non-null     object
 1   W       25 non-null     int64
dtypes: int64(1), object(1)
memory usage: 600.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 0 to 26
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      25 non-null     object
 1   W       25 non-null     int64
dtypes: int64(1), object(1)
memory usage: 600.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 0 to 26
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      25 non-null     object
 1   W       25 non-null     int64
dtypes: int64(1), object(1)
memory usage: 600.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      27 non-null     object
 1   W       27 non-null     int64
dtypes: int64(1), object(1)
memory usage: 648.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      27 non-null     object
 1   W       27 non-null     int64
dtypes: int64(1), object(1)
memory usage: 648.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      27 non-null     object
 1   W       27 non-null     int64
dtypes: int64(1), object(1)
memory usage: 648.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      27 non-null     object
 1   W       27 non-null     int64
dtypes: int64(1), object(1)
memory usage: 648.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      27 non-null     object
 1   W       27 non-null     int64
dtypes: int64(1), object(1)
memory usage: 648.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      27 non-null     object
 1   W       27 non-null     int64
dtypes: int64(1), object(1)
memory usage: 648.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      27 non-null     object
 1   W       27 non-null     int64
dtypes: int64(1), object(1)
memory usage: 648.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      27 non-null     object
 1   W       27 non-null     int64
dtypes: int64(1), object(1)
memory usage: 648.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      27 non-null     object
 1   W       27 non-null     int64
dtypes: int64(1), object(1)
memory usage: 648.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      30 non-null     object
 1   W       30 non-null     int64
dtypes: int64(1), object(1)
memory usage: 720.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      30 non-null     object
 1   W       30 non-null     int64
dtypes: int64(1), object(1)
memory usage: 720.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      30 non-null     object
 1   W       30 non-null     int64
dtypes: int64(1), object(1)
memory usage: 720.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      30 non-null     object
 1   W       30 non-null     int64
dtypes: int64(1), object(1)
memory usage: 720.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      30 non-null     object
 1   W       30 non-null     int64
dtypes: int64(1), object(1)
memory usage: 720.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      30 non-null     object
 1   W       30 non-null     int64
dtypes: int64(1), object(1)
memory usage: 720.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      30 non-null     object
 1   W       30 non-null     int64
dtypes: int64(1), object(1)
memory usage: 720.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      30 non-null     object
 1   W       30 non-null     int64
dtypes: int64(1), object(1)
memory usage: 720.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      30 non-null     object
 1   W       30 non-null     int64
dtypes: int64(1), object(1)
memory usage: 720.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      30 non-null     object
 1   W       30 non-null     int64
dtypes: int64(1), object(1)
memory usage: 720.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      30 non-null     object
 1   W       30 non-null     int64
dtypes: int64(1), object(1)
memory usage: 720.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      30 non-null     object
 1   W       30 non-null     int64
dtypes: int64(1), object(1)
memory usage: 720.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      30 non-null     object
 1   W       30 non-null     int64
dtypes: int64(1), object(1)
memory usage: 720.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      30 non-null     object
 1   W       30 non-null     int64
dtypes: int64(1), object(1)
memory usage: 720.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      30 non-null     object
 1   W       30 non-null     int64
dtypes: int64(1), object(1)
memory usage: 720.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      30 non-null     object
 1   W       30 non-null     int64
dtypes: int64(1), object(1)
memory usage: 720.0+ bytes

None